<div class="modal-dialog modal-lg">
	<div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title">Logs</h5>
			<button type="button" class="close" data-dismiss="modal"
				aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body px-0 py-0" style="height: 670px;">
			<table class="table table-hover my-0" >
			  <colgroup>
				<col width="55px"/>
				<col width="316px"/>
				<col width="189px"/>
				<col width="142px"/>
		      </colgroup>
			  <thead>
			    <tr>
			      <th scope="col">#</th>
			      <th scope="col" style="text-align: center;">label</th>
			      <th scope="col" style="text-align: center;">date</th>
			      <th scope="col" style="text-align: center;">host name</th>
			    </tr>
			  </thead>
			</table>
			<div style="height: 620px; overflow-y: scroll;">
				<table class="table table-hover" >
				  <colgroup>
				  	<col width="55px"/>
				  	<col width="316px"/>
				  	<col width="189px"/>
				  	<col width="127px"/>
				  </colgroup>
				  <tbody>
				  	{{#each this}}
				  	<tr class="view-log" style="cursor: pointer;" data-rowkey="{{row_key}}">
				      <th scope="row">{{math ../this.length '-' @index}}</th>
				      <td>
				      	{{#if log_label}}
					    	{{log_label}}
					    {{else}}
					    	[null]
					    {{/if}}
				      </td>
				      <td>
				      	{{#if create_date}}
				      		{{substr create_date 19}}
				      	{{else}}
				      		[null]
				      	{{/if}}
				      </td>
				      <td>
				      	{{host_name}}
				      </td>
				    </tr>
				  	{{/each}}
				  </tbody>
				</table>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		</div>
	</div>
</div>