<h5>Summary</h5>
<div>
	luster file system name : {{file_system.fs_name}}
</div>
<div style="height: 430px; overflow-y: scroll;">
	<table class="table">
		<thead>
		    <tr>
		      <th scope="col">Node Type</th>
		      <th scope="col">Host Name</th>
		      <th scope="col">Network Device</th>
		      <th scope="col">DISK LIST</th>
		    </tr>
		</thead>
		<tbody>
		    {{#each lustre_node_list}}
		    <tr>
		      <th scope="row">{{node_type}}</th>
		      <td>{{host_name}}</td>
		      <td>{{network_device}}</td>
		      <td>
		      	{{#if disk_list}}
		      	<table class="table">
		      		<thead>
					    <tr>
					      <th scope="col">DISK Name</th>
					      <th scope="col">DISK Type</th>
					    </tr>
					</thead>
		      		<tbody>
		      			{{#each disk_list}}
		      			<tr>
					      <th scope="row">{{disk_name}}</th>
					      <td>{{disk_type}}{{index}}</td>
					     </tr>
		      			{{/each}}
		      		</tbody>
		      	</table>
		      	{{else}}
		      		{{#if lustre_client_folder}}
		      			{{lustre_client_folder}}
		      		{{/if}}
		      	{{/if}}
		      </td>
		    </tr>
		    {{/each}}
	  	</tbody>
	</table>
</div>
