{{!-- This is Log Templete --}}
<style>
.console-output {
    background-color: #222;
    color: #fff;
    padding: 5px 10px;
    border-radius: 0;
    height: 670px;
    overflow-y: scroll;
    font-size: 12px;
}
.info {
    color: #fff;
}
.error {
    color: #eb3639;
}

#view-logs .filter{
	margin-block-start: 0.3em;
    margin-block-end: 0.3em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-left: 28em;
}
</style>

<div class="modal-dialog modal-lg" id="view-logs">
	<div class="modal-content">
		<div class="modal-header">
			<div class="d-flex flex-row">
				<h5 class="modal-title">Logs</h5>
				<form class="filter">
					<div class="form-check form-check-inline">
					  <input class="form-check-input" type="checkbox" name="log-filter-target" id="filter-cmd" value="command" checked="checked">
					  <label class="form-check-label" for="filter-cmd">CMD</label>
					</div>
					<div class="form-check form-check-inline">
					  <input class="form-check-input" type="checkbox" name="log-filter-target" id="filter-info" value="info" checked="checked">
					  <label class="form-check-label" for="filter-info">INFO</label>
					</div>
					<div class="form-check form-check-inline">
					  <input class="form-check-input" type="checkbox" name="log-filter-target" id="filter-error" value="error" checked="checked">
					  <label class="form-check-label" for="filter-error">ERROR</label>
					</div>
				</form>
			</div>
			
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body px-0 py-0">
			<div class="console-output">
				{{#each this}}
					<div class="{{log_type}} {{#if is_view}}{{else}}d-none{{/if}}">
						<b>{{substr create_date 19}}</b>
						<b>[{{{set_log_type log_type}}}]</b>
						&nbsp;
						{{data}}
					</div>
				{{/each}}
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-secondary operationsRunning">View Logs</button>
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		</div>
	</div>
</div>